@import "../../styles/operators";

:host(.title-s) {
  .title {
    font-size: 18px;
  }
}
:host(.title-m) {
  .title {
    font-size: 24px;
  }
}

:host(.title-xxl) {
  .title {
    font-size: 15rem;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
}
