<form [formGroup]="studentsForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input formControlName="firstName" matInput type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input formControlName="lastName" matInput type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha de Nacimiento</mat-label>
    <input formControlName="birthDate" matInput type="date" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Movil</mat-label>
    <input formControlName="cellPhone" matInput type="tel" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pais</mat-label>
    <mat-select formControlName="country">
      <mat-option value="Uruguay">Uruguay</mat-option>
      <mat-option value="Argentina">Argentina</mat-option>
      <mat-option value="Chile">Chile</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option value="ADMIN">ADMINISTRADOR</mat-option>
      <mat-option value="STUDENT">ESTUDIANTE</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Contraseña</mat-label>
    <input formControlName="password" matInput type="password" />
  </mat-form-field>
</form>

<button mat-flat-button (click)="onPressCancel()">Cancelar</button>
<button mat-flat-button (click)="onSubmit()">{{ buttonAction }}</button>
