@import "../../../../../../shared/styles/operators";
@import "../../../../../../shared/styles/variables";

.students-form {
  &__buttons {
    justify-content: end;
  }
  
  &__button {
    @include iga-button-solid(
      $background: #3498db,
      $color: #ffffff,
      $shadow: true,
      $hover-color: #2980b9,
      $active-color: #1f618d
    );

    &-cancel {
      @include iga-button-solid(
        $background: $white,
        $color: $primaryTextColor,
        $shadow: true,
        $hover-color: $errorTextColor,
        $active-color: $errorTextColor
      );
    }
  }
}
