@import "../../../../../../shared/styles/operators";
@import "../../../../../../shared/styles/variables";

.main-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  &__form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;

    &-button {
      @include iga-button-solid();
    }
  }
}
