.students-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;
}

.student-edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 5rem 0rem;

  &__buttons {
    &--save {
      margin-right: 1rem;
      border-radius: 25px;
      width: 10rem;
    }
    &--delete {
      border-radius: 25px;
      width: 10rem;
    }
  }
}
