@import "../../../../shared/styles/operators";
@import "../../../../shared/styles/variables";

.students-admin {
  display: flex;
  flex-direction: column;

  &__button {
    margin-bottom: 1rem;
    @include iga-button-solid(
        $background: #3498db,
        $color: #ffffff,
        $shadow: true,
        $hover-color: #2980b9,
        $active-color: #1f618d
      );
  }
}

