@import "./variables";

@mixin iga-button-solid($background: $lightPrimaryColor, $color: $white, $shadow: true, $hover-color: null, $active-color: null) {
  background-color: $background;
  color: $color;
  border: none;
  border-radius: 15px;
  width: 10rem;
  height: 2rem;

  @if $shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    background-color: if($hover-color, $hover-color, lighten($background, 10%));
    @if $shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &:active {
    background-color: if($active-color, $active-color, lighten($background, 20%));
    box-shadow: none;
  }
}

@mixin mobile {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 540px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large-desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
