$creamBackgroundColor: #f2e8c4 ;
$white: #ffffff;
$lightPrimaryColor: #2b879e ;
$lightSecondaryColor: #3ec9a7 ;
$darkPrimaryColor: #2b4e72 ;
$errorTextColor: #ff0000;
$primaryTextColor: #353432;
$secondaryTextColor:  #4e4d4a;
$thirdTextColor: #616668 ;
$disabled: #aeb7c8;