<mat-drawer-container class="dashboard" autosize>
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <p class="dashboard-sidenav__text">Acceso</p>
    @if (showFiller) {
    <p class="dashboard-sidenav__extra-text">
      Proxiammente...
    </p>
    }
    <button
      (click)="showFiller = !showFiller"
      class="dashboard-sidenav__toggle-button"
      mat-raised-button
    >
      Más
    </button>
  </mat-drawer>

  <div class="dashboard-content">
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="dashboard-toolbar__menu-button"
        aria-label="Menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="dashboard-toolbar__app-name">Gestión</span>
      <span class="dashboard-toolbar__spacer"></span>
    </mat-toolbar>
    <div class="students-section">
      <app-students></app-students>
    </div>
    
  </div>
</mat-drawer-container>
