<mat-drawer-container class="dashboard-container" autosize>
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <p class="dashboard-sidenav__text">Auto-resizing sidenav</p>
    @if (showFiller) {
    <p class="dashboard-sidenav__extra-text">
      Lorem, ipsum dolor sit amet consectetur.
    </p>
    }
    <button
      (click)="showFiller = !showFiller"
      class="dashboard-sidenav__toggle-button"
      mat-raised-button
    >
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="dashboard-content">
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="dashboard-toolbar__menu-button"
        aria-label="Menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="dashboard-toolbar__app-name">Gestión</span>
      <span class="dashboard-toolbar__spacer"></span>
    </mat-toolbar>

    <app-users></app-users>
  </div>
</mat-drawer-container>
