<mat-drawer-container class="dashboard" autosize>
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <mat-nav-list>
      <a
        #homeLink="routerLinkActive"
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home"
        mat-list-item
        >Inicio</a
      >
      <a
        #studentsLink="routerLinkActive"
        routerLinkActive
        [activated]="studentsLink.isActive"
        routerLink="students"
        mat-list-item
        >Estudiantes</a
      >
      <a
        #coursesLink="routerLinkActive"
        routerLinkActive
        [activated]="coursesLink.isActive"
        routerLink="courses"
        mat-list-item
        >Cursos</a
      >
      <a
        #usersLink="routerLinkActive"
        routerLinkActive
        [activated]="usersLink.isActive"
        routerLink="users"
        mat-list-item
        >Usuarios</a
      >
      <a
        #inscriptionsLink="routerLinkActive"
        routerLinkActive
        [activated]="inscriptionsLink.isActive"
        routerLink="inscriptions"
        mat-list-item
        >Inscripciones</a
      >
      <a (click)="logout()" mat-list-item>Cerrar sesion</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="dashboard-content">
    <mat-toolbar class="dashboard-toolbar">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="dashboard-toolbar__menu-button"
        aria-label="Menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <iga-title
        class="title-m dashboard-toolbar__title"
        [titleText]="'Institucional'"
      ></iga-title>
    </mat-toolbar>
    <div class="section">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
